:root{
    --mainColor: #ebbc4e;
    --secColor: #ebbc4e;
    --textColor: #111;
    --linkColor: #111;
    --transition: 0.5s;
    --shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    --radius:15px;
}
*{
    margin: 0;
    padding: 0;
    color: var(--textColor);
    direction: rtl;
    box-sizing: border-box;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: var(--linkColor);
}
ul{
    list-style: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow);
    padding: 0 25px;
    position: relative;
    z-index: 2;
    width: 100%;
}
.navbar .desktop_nav{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar .desktop_nav li{
    transition: var(--transition);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px 15px;
}
.desktop_nav .active{
    background-color: var(--mainColor);
}
.desktop_nav .active a{
    color: white;
}
.navbar .desktop_nav li{
    transition: var(--transition);
}
.navbar .desktop_nav li:hover{
    background-color: var(--mainColor);
}
.navbar .desktop_nav li:hover a{
    color: white;
}
@media screen and (max-width:900px) {
    .desktop_nav{
        display: none !important;
    }
}

.main-banner{
    position: relative;
    height: 350px;
}
.main-banner img{
    width: 100%;
    object-fit: cover;
    height: 350px;
}
.main-banner a{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 15px;
    border-radius: var(--radius);
}